* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Dancing Script", cursive; */
    /* font-family: "Playfair Display", serif; */
    font-family: "Mukta", sans-serif;
  }

  .containerr{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #3636a9,#3636a9);
  }
  .box{
    box-shadow: 3px 3px 30px 5px #393d3d;

  }